@import "variables";
body {
    font-family: 'Roboto', sans-serif;
}

.bg-for-middle-div {
    text-align: center;
    text-transform: uppercase;
    color: #FFF3F3;
    font-size: 20px;
    background: linear-gradient(90.63deg, #5D84BF 4.23%, #E90A67 90.84%);
}

.border-for-news {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.text-menu {
    font-weight: bold;
}
.text-orange {
    color: $text-orange;
}
.bg-orange {
    background: $text-orange!important;
}

.namaz-tabs {
    color: $text-black !important;
    background: transparent !important;
}
.namaz-tabs.active {
    color: $text-orange !important;
}

.ul-for-menu {
    list-style: none;
    justify-content: space-between;
}

.bg-for-footer {
    background: #DADADA;
}

.txt-for-black {
    color: $text-black;
}

.text-for-footer {
    list-style: none;
}

.title-for-kolumnisti {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
.bg-for-kolumn {
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}

.border-2 {
    border-width: 2px !important;

}
.border-3 {
    border-width: 3px !important;
}
.border-4 {
    border-width: 4px !important;
}
.border-orange {
    border-color: $text-orange !important;
}
.bg-for-image {
    background: white;
}

.bg-black-50 {
    background: #000000AA!important;
}

.multimedia .icon-arrow-left {
    left: -22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.multimedia .icon-arrow-right {
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-orange {
    border-color: $text-orange !important;
    padding: 4px;
}

.bg-login {
    height: 500px;
    background-image: url('img/mohd-danish-hussain-rm7eNpq6c8s-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-register {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/kilarov-zaneit-iPVqE-H5hqA-unsplash.jpg');
}

.text-crop {
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.desc-text-crop {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

//card
.date {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 8.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.date .day {
    font-size: 14px;
}
.date .month {
    font-size: 10px;
    text-transform: uppercase;
}


//card end
@media (max-width: 992px){
    .bg-login {
        display: none;
    }
}
@media (max-width: 992px){
    .bg-register {
        display: none;
    }
}
